[v-cloak] {
	display: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.show {
	display: block;
}
.hidden {
	display: none;
}
.cut {
	@include text-ellipsis();
}
.clearfix {
	@include clearfix();
}

.modal {
	.modal-mask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include size(100%, 100%);
		z-index: 1000;
		background-color: rgba(55, 55, 55, 0.6);
	}
	.modal-wrap {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1000;
		overflow: auto;
		outline: 0;
		&.modal-hidden {
			@extend .hidden;
		}
	}
	.modal-dialog {
		position: relative;
		top: 100px;
		margin: 0 auto;
		width: 520px;
	}
	.modal-content {
		position: relative;
		border: 0;
		border-radius: $border-radius-big;
		background-color: $background;
		background-clip: padding-box;
		.modal-close {
			position: absolute;
			top: 8px;
			right: 16px;
			cursor: pointer;
			overflow: hidden;
			font-size: 12px;
			.icon-close-empty {
				position: relative;
				top: 1px;
				display: inline-block;
				// color: #cecece;
				color: $sub;
				font-size: 22px;
				font-style: normal;
				transition: color 0.2s ease;
			}
		}
		.modal-header {
			border-bottom: 1px solid $border;
			padding: 14px 16px;
			line-height: 1;
			.modal-header-inner {
				display: inline-block;
				@include size(100%, 20px);
				line-height: 20px;
				font-size: 14px;
				color: #333;
				font-weight: 700;
				@include text-ellipsis();
			}
		}
		.modal-body {
			padding: 16px;
			font-size: 12px;
			line-height: 1.5;
		}
		.modal-footer {
			padding: 12px 18px;
			text-align: right;
			border-top: 1px solid $border;
			.btn {
				padding: 6px 15px 7px;
				font-size: 14px;
				border-radius: 4px;
				cursor: pointer;
				margin-left: 10px;
				&.btn-submit {
					color: #fff;
					border-color: $base;
					background-color: $base;
				}
			}
		}
	}
}

.loading {
	.loading-mask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include size(100%, 100%);
		z-index: 9998;
		background-color: rgba(255, 255, 255, 0.9);
	}
	.loading-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		@include size(50px, 50px);
		z-index: 9999;
		.loading-dot {
			position: relative;
			margin: 9px auto 0;
			display: block;
			@include circle(32px);
			background-color: $info;
			animation: ani-spin-bounce 1s 0s ease-in-out infinite;
		}
	}
}


.fade-appear,
.fade-enter-active,
.fade-leave-active {
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-play-state: paused;
}

.fade-appear,
.fade-enter-active {
	animation-name: ivuFadeIn;
	animation-play-state: running;
}

.fade-leave-active {
	animation-name: ivuFadeOut;
	animation-play-state: running;
}

.fade-appear,
.fade-enter-active {
	opacity: 0;
}

.fade-appear,
.fade-enter-active,
.fade-leave-active {
	animation-timing-function: linear;
}

.ease-appear,
.ease-enter-active,
.ease-leave-active {
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-play-state: paused;
}

.ease-appear,
.ease-enter-active {
	animation-name: ivuEaseIn;
	animation-play-state: running;
}

.ease-leave-active {
	animation-name: ivuEaseOut;
	animation-play-state: running;
}

.ease-appear,
.ease-enter-active {
	opacity: 0;
}

.ease-appear,
.ease-enter-active,
.ease-leave-active {
	animation-timing-function: linear;
	animation-duration: 0.2s;
}


@keyframes ani-spin-bounce {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes ivuFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes ivuFadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes ivuEaseIn {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes ivuEaseOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.9);
	}
}