<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./static/css/index.css">
</head>
<body>
    <div class="topBar">
        <div class="topBarContainer clearfix">
            <div class="barLeft fl">
                <h2>深圳</h2>
                <a href="javascript:void(0);" class="homeLink">
                    <i class="icon"></i>58首页</a>
            </div>
            <div class="barRight fr">
                <div class="topBarLogin rightItem">
                    <span class="userName">哈哈哈哈</span>
                    <a href="javascript:void(0);" class="myText">退出</a>
                </div>
                <div class="topBarMymenu rightItem">
                    <a href="./person.html" class="myText">个人中心</a>
                    <span class="arrow"></span>
                    <div class="dropMenu">
                        <a href="./person.html" class="dropMenuItem">账户设置</a>
                    </div>
                </div>
                <div class="topBarVip rightItem">
                    <a href="javascript:void(0);" class="myText">商家中心</a>
                    <span class="arrow"></span>
                </div>
                <div class="topBarHelp rightItem">
                    <a href="javascript:void(0);" class="myText">联系客服</a>
                    <span class="arrow"></span>
                </div>
                <div class="topBarMyfeet rightItem">
                    <a href="javascript:void(0);" class="myText">最近浏览</a>
                    <span class="arrow"></span>
                </div>
                <div class="topBarSitemap rightItem">
                    <a href="javascript:void(0);" class="myText">网站导航</a>
                    <span class="arrow"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="listPage" class="listPage">
        <div class="listHeaderWrap">
            <div class="listHeaderContent clearfix">
                <a href="javascript:void(0);" class="logo">58同城·房产</a>
                <a href="javascript:void(0);" class="publishBtn">免费发布</a>
                <div class="searchBar clearfix">
                    <i class="icon"></i>
                    <input type="text" placeholder="请输入房源相关信息" class="searchInput">
                    <button type="button" class="searchBtn">搜房源</button>
                </div>
                <ul class="searchList">
                    <li>
                        <a href="javascript:void(0);">
                            <p class="fl">碧桂园</p>
                            <span class="fr">约13条</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="listMainWrap">
            <ul class="breadcrumb">
                <li>
                    <a href="javascript:void(0);">深圳58同城</a>
                </li>
                <li>
                    <a href="javascript:void(0);">深圳房产信息</a>
                </li>
                <li>
                    <a href="javascript:void(0);">深圳二手房</a>
                </li>
            </ul>
            <ul class="houseNavTab">
                <li class="selected">
                    <a href="javascript:void(0);">二手房</a>
                </li>
                <li>
                    <a href="javascript:void(0);">小区</a>
                </li>
                <li>
                    <a href="javascript:void(0);">地图找房</a>
                </li>
                <li>
                    <a href="javascript:void(0);">新房</a>
                </li>
                <li>
                    <a href="javascript:void(0);">求购</a>
                </li>
            </ul>
            <div class="filterWrap">
                <dl class="filterItem filterItemFirst">
                    <dd>
                        <ul class="filterSelect">
                            <li class="filterSelectLi">
                                <a href="javascript:void(0)" :class="nowFilterArea === 'location' ? 'on' : ''" @click="filterArea('location')">区域</a>
                            </li>
                            <li class="filterSelectLi">
                                <a href="javascript:void(0)" :class="nowFilterArea === 'metro' ? 'on' : ''" @click="filterArea('metro')">地铁</a>
                            </li>
                        </ul>
                        <div class="filterAreaFirst">
                            <a href="javascript:void(0);" v-for="(item, index) in filterAreaFirst" :class="item.selected ? 'on' : ''" @click="selectFirst(index)">{{item.name}}</a>
                        </div>
                        <div class="filterAreaSecond">
                            <a href="javascript:void(0);" v-for="(item, index) in filterAreaSecond" :class="item.selected ? 'on' : ''" @click="selectSecond(index)">{{item.name}}</a>
                        </div>
                    </dd>
                </dl>
                <dl class="filterItem">
                    <dt>总价：</dt>
                    <dd class="Price">
                        <a href="javascript:void(0)" v-for="(item, index) in sumPrice" :class="{'selected': item.selected}" @click="selectEvent($event, index)">{{item.name}}</a>
                    </dd>
                </dl>
                <dl class="filterItem">
                    <dt>面积：</dt>
                    <dd class="Acreage">
                        <a href="javascript:void(0)" v-for="(item, index) in sumAcreage" :class="{'selected': item.selected}" @click="selectEvent($event, index)">{{item.name}}</a>
                    </dd>
                </dl>
                <dl class="filterItem">
                    <dt>室厅：</dt>
                    <dd class="Room">
                        <a href="javascript:void(0)" v-for="(item, index) in sumRoom" :class="{'selected': item.selected}" @click="selectEvent($event, index)">{{item.name}}</a>
                    </dd>
                </dl>
            </div>
            <div class="contentNavTab">
                <a href="javascript:void(0)" class="selected">广州二手房出售</a>
                <a href="javascript:void(0)">免税房源</a>
                <a href="javascript:void(0)">个人房源</a>
                <a href="javascript:void(0)">安选房源</a>
                <a href="javascript:void(0)">视频看房</a>
                <a href="javascript:void(0)">商铺出售</a>
                <a href="javascript:void(0)">写字楼出售</a>
            </div>
            <div class="contentWrap">
                <div class="checkList">
                    <a href="javascript:void(0);" class="checkboxItem selected">满五唯一</a>
                    <a href="javascript:void(0);" class="checkboxItem">南北通透</a>
                    <a href="javascript:void(0);" class="checkboxItem">随时看房</a>
                    <div class="checkListSortWrap">
                        <a href="javascript:void(0);" data-type="0" :class="{'on': checkListType === 0}" @click="onOrderBy($event)" class="sortItem sortByGeneral">默认排序</a>
                        <!-- 总价从低到高-->
                        <a href="javascript:void(0);" data-type="1" :class="{'hidden': checkListType === 1, 'on down': checkListType === 2}" @click="onOrderBy($event)" class="sortItem sortByTotal">总价</a>
                        <!-- 总价从高到低-->
                        <a href="javascript:void(0);" data-type="2" :class="{'on up': checkListType === 1}" v-show="checkListType === 1" @click="onOrderBy($event)" class="sortItem sortByTotal">总价</a>
                        <!-- 单价从低到高-->
                        <a href="javascript:void(0);" data-type="3" :class="{'hidden': checkListType === 3, 'on down': checkListType === 4}" @click="onOrderBy($event)" class="sortItem sortByUnit">单价</a>
                        <!-- 单价从高到低-->
                        <a href="javascript:void(0);" data-type="4" :class="{'on up': checkListType === 3}" v-show="checkListType === 3" @click="onOrderBy($event)" class="sortItem sortByUnit">单价</a>
                        <!-- 面积从小到大-->
                        <a href="javascript:void(0);" data-type="5" :class="{'hidden': checkListType === 5, 'on down': checkListType === 6}" @click="onOrderBy($event)" class="sortItem sortByArea">面积</a>
                        <!-- 面积从大到小-->
                        <a href="javascript:void(0);" data-type="6" :class="{'on up': checkListType === 5}" v-show="checkListType === 5" @click="onOrderBy($event)" class="sortItem sortByArea">面积</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <ul class="houseListUl">
                    <li v-for="(item, index) in houseList" class="houseListLi">
                        <div class="pic">
                            <a href="javascript:void(0);">
                                <img :src="item.picUrl">
                            </a>
                            <span class="picNum">7图</span>
                        </div>
                        <div class="listInfo">
                            <h3 class="title">
                                <a href="javascript:void(0);">{{item.title}}</a>
                                <span class="icon-container">
                                    <i class="icon jinxuan">精</i>
                                </span>
                            </h3>
                            <p class="baseInfo">
                                <span>{{item.huxing}}</span>
                                <span>{{item.area}}㎡</span>
                                <span>{{item.toward}}</span>
                                <span>{{item.floorMH}}层(共{{item.zongLouCeng}}层)</span>
                            </p>
                            <p class="locationInfo">
                                <span>{{item.xiaoquName}} - {{item.cityname}} - {{item.areaName}}</span>
                            </p>
                            <p class="ownerInfo">
                                <span>光宏地产 - {{item.userName}}</span>
                            </p>
                        </div>
                        <div class="price">
                            <p class="sum">
                                <b>{{item.price}}</b>万</p>
                            <p class="unit">21703元/㎡</p>
                        </div>
                        <div class="time">今天</div>
                    </li>
                </ul>
                <div class="pagination">
                    <a href="javascript:void(0);" class="pre">上一页</a>
                    <a href="javascript:void(0);" class="paginationItem">1</a>
                    <a href="javascript:void(0);" class="paginationItem active">2</a>
                    <a href="javascript:void(0);" class="paginationItem">3</a>
                    <a class="paginationItem disabled">...</a>
                    <a href="javascript:void(0);" class="paginationItem">10</a>
                    <a href="javascript:void(0);" class="next">上一页</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>