<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./static/css/index.css">
</head>
<body>
    <div id="loginPage" v-cloak class="signPage">
        <img src="./static/img/bg1.png" class="imgBg">
        <div class="signTopBar">
            <div class="backToIndex">
                <a href="./index.html">返回首页</a>
            </div>
            <div class="goReg">没有账户？
                <a href="./register.html">去注册</a>
            </div>
        </div>
        <div class="signWrap">
            <div class="signLogo">
                <a href="javascript:void(0);" class="logoHref"></a>
            </div>
            <div class="signBox">
                <ul class="signUl">
                    <!-- 手机号/账户名/邮箱-->
                    <li :class="['signLi', {'signLiFocus': inputFocus.nameInput}]">
                        <input type="text" placeholder="手机号/账户名/邮箱" v-model="form.username" @blur="validateInput($event)" @focus="inputFocus.nameInput = true" class="signInput username">
                    </li>
                    <li v-show="showTip.showNameTip" class="signTip">
                        <span class="signTipText">{{validateText.nameTipText}}</span>
                    </li>
                    <!-- 密码-->
                    <li :class="['signLi', {'signLiFocus': inputFocus.pwdInput}]">
                        <input type="password" placeholder="密码" v-model="form.password" @blur="validateInput($event)" @focus="inputFocus.pwdInput = true" class="signInput password">
                    </li>
                    <li v-show="showTip.showPwdTip" class="signTip">
                        <span class="signTipText">{{validateText.pwdTipText}}</span>
                    </li>
                    <!-- 自动登录-->
                    <li class="signLi signAutoLoginLi">
                        <input type="checkbox" id="autoLogin" class="signChecbox">
                        <label for="autoLogin" class="signLable">下载自动登录 </label>
                    </li>
                    <!-- 登录按钮-->
                    <li class="signLi signLoginButtonLi">
                        <div class="signButtonBox">
                            <button type="button" @click="login" class="signButton">登录</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>