@import "./reset/reset";
@import "./mixin/mixin";
@import "./variable/variable";







.logRegPage {
	.imgBg {
		position: fixed;
		left: 0;
		top: 0;
		z-index: -9999;
		@include size(100%, 100%);
	}
	.outregBox {
		position: relative;
		@include size(520px, 20px);
		line-height: 20px;
		color: #fff;
		margin: 12px auto 10px;
		font-size: 14px;
		.backToIndex,
		.goLogin,
		.goReg {
			position: absolute;
			a {
				color: #fff;
			}
		}
		.backToIndex {
			left: 0;
		}
		.goLogin,
		.goReg {
			right: 0;
		}
	}
	.wrap {
		position: relative;
		width: 520px;
		padding: 39px 0 38px;
		margin: 0 auto;
		background-color: #fff;
		border-radius: 3px;
	}
	.regUl {
		.regLi {
			position: relative;
			@include size(422px, 50px);
			line-height: 50px;
			margin: 0 auto 16px;
			padding-left: 15px;
			background-color: #fff;
			border: 2px solid #ebebeb;
			border-radius: 2px;
			&.regLiFocus {
				border-color: #bfbfbf;
			}
			&.regButtonLi {
				@include size(440px, 142px);
				padding-left: 0;
				border: none;
			}
			.regInput {
				@include size(400px, 20px);
				padding: 15px 0;
				font-size: 16px;
				@include placeholder(#ccc);
			}
			.regGetcodeBtn {
				position: absolute;
				top: 8px;
				right: 8px;
				@include size(110px, 34px);
				line-height: 34px;
				border-radius: 3px;
				color: #ccc;
				font-size: 14px;
				background-color: #f6f6f6;
				cursor: pointer;
			}
			.regAgreeBox {
				height: 17px;
				margin: 30px 0;
				text-align: center;
				color: #999;
				font-size: 14px;
				line-height: 17px;
			}
			.regButton {
				@include size(440px, 54px);
				color: #fff;
				font-size: 18px;
				border-radius: 2px;
				background-color: $primary;
				cursor: pointer;
			}
		}
		.regTip {
			display: none;
			margin: 0 40px 10px;
			.regTipText {
				display: block;
				height: 22px;
				line-height: 22px;
				padding-left: 32px;
				font-size: 14px;
				color: $danger;
				background: url("../img/spriter/erroricon.png?__spriter") no-repeat;
			}
			
		}
	}
}