.topBar
	.topBarContainer.clearfix
		.barLeft.fl
			h2 深圳
			a.homeLink(href="javascript:void(0);") 
				i.icon
				| 58首页
		.barRight.fr
			.topBarLogin.rightItem
				span.userName 哈哈哈哈
				a.myText(href="javascript:void(0);") 退出
			.topBarMymenu.rightItem
				a.myText(href="javascript:void(0);") 个人中心
				span.arrow
				.dropMenu
					a.dropMenuItem 账户设置
					a.dropMenuItem 账户设置
					a.dropMenuItem 账户设置
					a.dropMenuItem 账户设置
			.topBarVip.rightItem
				a.myText(href="javascript:void(0);") 商家中心
				span.arrow
			.topBarHelp.rightItem
				a.myText(href="javascript:void(0);") 联系客服
				span.arrow
			.topBarMyfeet.rightItem
				a.myText(href="javascript:void(0);") 最近浏览
				span.arrow
			.topBarSitemap.rightItem
				a.myText(href="javascript:void(0);") 网站导航
				span.arrow
