.topBar
	.topBarContainer
		.barLeft
			h2 广州
			.homeLink
				a(href="javascript:void(0);") 58首页

		.barRight
			.topBarLogin.rightItem
				span.userName 哈哈哈哈
				a.myText(href="javascript:void(0);") 退出
			.topBarMymenu.rightItem
				a.myText(href="javascript:void(0);") 个人中心
				span.arrow
			.topBarVip.rightItem
				a.myText(href="javascript:void(0);") 商家中心
				span.arrow
			.topBarHelp.rightItem
				a.myText(href="javascript:void(0);") 联系客服
				span.arrow
			.topBarMyfeet.rightItem
				a.myText(href="javascript:void(0);") 最近浏览
				span.arrow
			.topBarSitemap.rightItem
				a.myText(href="javascript:void(0);") 网站导航
				span.arrow
