
// 尺寸
@mixin size ($width, $height) {
	width: $width;
	height: $height;
}

// 正方形
@mixin square($size) {
	@include size($size, $size);
}

// 圆形
@mixin circle ($width) {
	@include size($width, $width);
	border-radius: 50%;
}

// input的placeholder的颜色
@mixin placeholder ($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

// 清除浮动
@mixin clearfix () {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// 上，右，下，左圆角
@mixin border-top-radius ($radius) {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
}
@mixin border-right-radius ($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin border-bottom-radius ($radius) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}
@mixin border-left-radius ($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

// 文本溢出省略显示
@mixin text-ellipsis () {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 浮动
@mixin float ($direction) {
	@if $direction == left {
		float: left;
	}
	@else if $direction == right {
		float: right !important;
	}
}

// 三角箭头
@mixin arrow ($direction, $size, $color) {
	@include size(0, 0);
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	border-width: $size;
	cursor: pointer;
	@if $direction == top {
		border-style: dashed dashed solid dashed;
		border-color: transparent transparent $color transparent;
        border-top: none;
	}
	@else if $direction == bottom {
        border-style: solid dashed dashed dashed;
        border-color: $color transparent transparent transparent;
        border-bottom: none;
    }
    @else if $direction == right {
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent $color;
        border-right: none;
    }
    @else if $direction == left {
        border-style: dashed solid dashed dashed;
        border-color: transparent $color transparent transparent;
        border-left: none;
    }
}