body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
	color: #000;
}

body,
button,
input,
select,
textarea {
	font-size: 16px;
	font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: couriernew, courier, monospace;
}

small {
	font-size: 12px;
}

ul,
ol,
li {
	list-style: none;
}

a {
	color: #595757;
	text-decoration: none;
}

a:hover {
	color: #ff552e;
	text-decoration: none;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,
img {
	border: 0;
}

button,
input,
select,
textarea {
	border: none;
	font-size: 100%;
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

[v-cloak] {
	display: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.show {
	display: block;
}

.hidden,
.modal .modal-wrap.modal-hidden {
	display: none;
}

.cut {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.modal .modal-mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(55, 55, 55, 0.6);
}

.modal .modal-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	overflow: auto;
	outline: 0;
}

.modal .modal-dialog {
	position: relative;
	top: 100px;
	margin: 0 auto;
	width: 520px;
}

.modal .modal-content {
	position: relative;
	border: 0;
	border-radius: 6px;
	background-color: #fff;
	background-clip: padding-box;
}

.modal .modal-content .modal-close {
	position: absolute;
	top: 8px;
	right: 16px;
	cursor: pointer;
	overflow: hidden;
	font-size: 12px;
}

.modal .modal-content .modal-close .icon-close-empty {
	position: relative;
	top: 1px;
	display: inline-block;
	color: #80848f;
	font-size: 22px;
	font-style: normal;
	-webkit-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.modal .modal-content .modal-header {
	border-bottom: 1px solid #dddee1;
	padding: 14px 16px;
	line-height: 1;
}

.modal .modal-content .modal-header .modal-header-inner {
	display: inline-block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #333;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.modal .modal-content .modal-body {
	padding: 16px;
	font-size: 12px;
	line-height: 1.5;
}

.modal .modal-content .modal-footer {
	padding: 12px 18px;
	text-align: right;
	border-top: 1px solid #dddee1;
}

.modal .modal-content .modal-footer .btn {
	padding: 6px 15px 7px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

.modal .modal-content .modal-footer .btn.btn-submit {
	color: #fff;
	border-color: #ff552e;
	background-color: #ff552e;
}

.loading .loading-mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9998;
	background-color: rgba(255, 255, 255, 0.9);
}

.loading .loading-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	z-index: 9999;
}

.loading .loading-wrap .loading-dot {
	position: relative;
	margin: 9px auto 0;
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #2d8cf0;
	-webkit-animation: ani-spin-bounce 1s 0s ease-in-out infinite;
	        animation: ani-spin-bounce 1s 0s ease-in-out infinite;
}

.fade-appear,
.fade-enter-active,
.fade-leave-active {
	-webkit-animation-duration: 0.3s;
	        animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-play-state: paused;
	        animation-play-state: paused;
}

.fade-appear,
.fade-enter-active {
	-webkit-animation-name: ivuFadeIn;
	        animation-name: ivuFadeIn;
	-webkit-animation-play-state: running;
	        animation-play-state: running;
}

.fade-leave-active {
	-webkit-animation-name: ivuFadeOut;
	        animation-name: ivuFadeOut;
	-webkit-animation-play-state: running;
	        animation-play-state: running;
}

.fade-appear,
.fade-enter-active {
	opacity: 0;
}

.fade-appear,
.fade-enter-active,
.fade-leave-active {
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

.ease-appear,
.ease-enter-active,
.ease-leave-active {
	-webkit-animation-duration: 0.3s;
	        animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-play-state: paused;
	        animation-play-state: paused;
}

.ease-appear,
.ease-enter-active {
	-webkit-animation-name: ivuEaseIn;
	        animation-name: ivuEaseIn;
	-webkit-animation-play-state: running;
	        animation-play-state: running;
}

.ease-leave-active {
	-webkit-animation-name: ivuEaseOut;
	        animation-name: ivuEaseOut;
	-webkit-animation-play-state: running;
	        animation-play-state: running;
}

.ease-appear,
.ease-enter-active {
	opacity: 0;
}

.ease-appear,
.ease-enter-active,
.ease-leave-active {
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-duration: 0.2s;
	        animation-duration: 0.2s;
}

@-webkit-keyframes ani-spin-bounce {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 0;
	}
}

@keyframes ani-spin-bounce {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes ivuFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes ivuFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes ivuFadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes ivuFadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes ivuEaseIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes ivuEaseIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@-webkit-keyframes ivuEaseOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
}

@keyframes ivuEaseOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
}

.topBar {
	position: relative;
	width: 100%;
	height: 35px;
	min-width: 1190px;
	line-height: 35px;
	background-color: #fff;
	border-bottom: 1px solid #dddee1;
	font-size: 12px;
}

.topBar .topBarContainer {
	width: 1190px;
	height: 35px;
	margin: 0 auto;
}

.topBar .barLeft {
	padding-left: 10px;
	overflow: hidden;
}

.topBar .barLeft > h2 {
	float: left;
	color: #ff552e;
}

.topBar .barLeft .homeLink {
	float: left;
	padding-right: 10px;
	color: #555;
	font-weight: bold;
}

.topBar .barLeft .homeLink .icon {
	float: left;
	width: 16px;
	height: 15px;
	margin: 10px 7px 0 7px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -96px -84px;
}

.topBar .barLeft .homeLink:hover {
	color: #ff552e;
}

.topBar .barLeft .homeLink:hover .icon {
	background: url("../img/sprite.png") no-repeat;
	background-position: -80px -84px;
}

.topBar .barRight .rightItem {
	float: left;
	position: relative;
	padding: 0 24px 0 14px;
	border: 1px solid #fff;
	border-top: none;
	border-bottom: none;
}

.topBar .barRight .rightItem .myText {
	color: #555;
}

.topBar .barRight .rightItem .myText:hover {
	color: #ff552e;
}

.topBar .barRight .rightItem .userName {
	color: #555;
	margin-right: 4px;
}

.topBar .barRight .rightItem .arrow {
	position: absolute;
	top: 16px;
	right: 10px;
	display: block;
	width: 7px;
	height: 4px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -104px -100px;
}

.topBar .barRight .rightItem.topBarLogin {
	border: none;
}

.topBar .barRight .rightItem .dropMenu {
	display: none;
	position: absolute;
	top: 35px;
	right: -1px;
	width: 86px;
	background-color: #fff;
	border: 1px solid #eee;
	z-index: 2;
}

.topBar .barRight .rightItem .dropMenu .dropMenuItem {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #666;
	text-align: center;
}

.topBar .barRight .rightItem:not(.topBarLogin):hover {
	border-color: #dddee1;
	cursor: pointer;
}

.topBar .barRight .rightItem:not(.topBarLogin):hover .arrow {
	background: url("../img/sprite.png") no-repeat;
	background-position: -111px -100px;
}

.topBar .barRight .rightItem:not(.topBarLogin):hover .dropMenu {
	display: block;
}

.topBar .barRight .rightItem:not(.topBarLogin):hover .dropMenu .dropMenuItem:hover {
	color: #ff552e;
	background-color: #f8f8f8;
}

.signPage .imgBg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -9999;
}

.signPage .signTopBar {
	position: relative;
	width: 520px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	margin: 12px auto 10px;
	font-size: 14px;
}

.signPage .signTopBar .backToIndex,
.signPage .signTopBar .goLogin,
.signPage .signTopBar .goReg {
	position: absolute;
}

.signPage .signTopBar .backToIndex a,
.signPage .signTopBar .goLogin a,
.signPage .signTopBar .goReg a {
	color: #fff;
}

.signPage .signTopBar .backToIndex {
	left: 0;
}

.signPage .signTopBar .goLogin,
.signPage .signTopBar .goReg {
	right: 0;
}

.signPage .signWrap {
	position: relative;
	width: 520px;
	padding-top: 48px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 4px;
}

.signPage .signLogo {
	width: 136px;
	height: 46px;
	margin: 0 auto 48px;
}

.signPage .signLogo .logoHref {
	display: block;
	width: 100%;
	height: 100%;
	background: url("../img/logo1.png") no-repeat;
	background-size: cover;
}

.signPage .signUl .signLi {
	position: relative;
	width: 422px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto 16px;
	padding-left: 15px;
	background-color: #fff;
	border: 2px solid #ebebeb;
	border-radius: 2px;
}

.signPage .signUl .signLi.signLiFocus {
	border-color: #bfbfbf;
}

.signPage .signUl .signLi.signAutoLoginLi {
	width: 440px;
	height: 44px;
	border: none;
	padding-left: 0;
}

.signPage .signUl .signLi.signAutoLoginLi .signChecbox {
	margin: 15px 10px 0 0;
}

.signPage .signUl .signLi.signAutoLoginLi .signLable {
	font-size: 14px;
	color: #999;
	line-height: 44px;
}

.signPage .signUl .signLi.signLoginButtonLi,
.signPage .signUl .signLi.signRegButtonLi {
	width: 440px;
	height: 142px;
	padding-left: 0;
	border: none;
}

.signPage .signUl .signLi.signLoginButtonLi {
	height: 100px;
}

.signPage .signUl .signLi .signInput {
	width: 400px;
	height: 20px;
	padding: 15px 0;
	font-size: 16px;
}

.signPage .signUl .signLi .signInput::-webkit-input-placeholder {
	color: #ccc;
}

.signPage .signUl .signLi .signInput:-moz-placeholder {
	color: #ccc;
}

.signPage .signUl .signLi .signInput::-moz-placeholder {
	color: #ccc;
}

.signPage .signUl .signLi .signInput:-ms-input-placeholder {
	color: #ccc;
}

.signPage .signUl .signLi .signGetcodeBtn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 110px;
	height: 34px;
	line-height: 34px;
	border-radius: 3px;
	color: #ff552e;
	font-size: 14px;
	background-color: #f6f6f6;
	cursor: pointer;
}

.signPage .signUl .signLi .signGetcodeBtn:disabled {
	color: #ccc;
}

.signPage .signUl .signLi .signAgreeBox {
	height: 17px;
	margin: 30px 0;
	text-align: center;
	color: #999;
	font-size: 14px;
	line-height: 17px;
}

.signPage .signUl .signLi .signButton {
	width: 440px;
	height: 54px;
	color: #fff;
	font-size: 18px;
	border-radius: 2px;
	background-color: #ff552e;
	cursor: pointer;
}

.signPage .signUl .signTip {
	margin: 0 40px 10px;
}

.signPage .signUl .signTip .signTipText {
	position: relative;
	display: block;
	height: 22px;
	line-height: 22px;
	padding-left: 32px;
	font-size: 14px;
	color: #ff5252;
}

.signPage .signUl .signTip .signTipText:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 22px;
	height: 22px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -42px -84px;
}

.signPage .validateCodeBox > h4 {
	font-size: 20px;
	text-align: center;
	line-height: 22px;
	margin-top: 40px;
	font-weight: normal;
	color: #333;
}

.signPage .validateCodeBox .codeBoxInput {
	position: relative;
	width: 440px;
	height: 54px;
	line-height: 54px;
	margin: 40px auto 26px;
	border-radius: 2px;
	border: 2px solid #ebebeb;
	background-color: #fff;
}

.signPage .validateCodeBox .codeBoxInput > input {
	width: 400px;
	height: 20px;
	padding: 15px 0;
	margin-left: 15px;
	font-size: 16px;
	border: 0;
}

.signPage .validateCodeBox .codeBoxInput > img {
	position: absolute;
	top: 1px;
	right: 1px;
	height: 50px;
	cursor: pointer;
}

.signPage .validateCodeBox .codeBoxBtn {
	padding-bottom: 20px;
}

.signPage .validateCodeBox .codeBoxBtn button {
	display: block;
	width: 440px;
	height: 54px;
	margin: 0 auto;
	line-height: 54px;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	font-size: 18px;
	cursor: pointer;
	background-color: #ff552e;
}

.indexHeaderWrap,
.indexMainWrap {
	width: 100%;
	min-width: 1190px;
	margin-bottom: 8px;
}

.headerWrapContainer {
	width: 1190px;
	margin: 0 auto;
	background-color: #fff;
}

.headerWrapContainer .hederBar {
	position: relative;
	width: 100%;
	height: 84px;
}

.headerWrapContainer .hederBar .headerBarLogo {
	float: left;
	width: 126px;
	height: 42px;
	margin: 8px 0 0 38px;
}

.headerWrapContainer .hederBar .headerBarLogo img {
	display: block;
	width: 100%;
	height: 100%;
}

.headerWrapContainer .hederBar .headerBarBanner {
	float: left;
	width: 150px;
	height: 50px;
	margin: 8px 0 0 20px;
}

.headerWrapContainer .hederBar .headerBarBanner img {
	display: block;
	width: 100%;
	height: 100%;
}

.headerWrapContainer .hederBar .headerBarSearch,
.headerWrapContainer .hederBar .searchList {
	position: absolute;
	left: 366px;
	top: 10px;
}

.headerWrapContainer .hederBar .headerBarSearch .searchKey,
.headerWrapContainer .hederBar .searchList .searchKey {
	position: relative;
	float: left;
	width: 484px;
	height: 38px;
	line-height: 38px;
	padding-left: 34px;
	border: 2px solid #ff552e;
}

.headerWrapContainer .hederBar .headerBarSearch .searchKey .icon,
.headerWrapContainer .hederBar .searchList .searchKey .icon {
	position: absolute;
	top: 11px;
	left: 10px;
	display: block;
	width: 14px;
	height: 16px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -42px -106px;
}

.headerWrapContainer .hederBar .headerBarSearch .searchKey input,
.headerWrapContainer .hederBar .searchList .searchKey input {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 38px;
	font-size: 14px;
	color: #292929;
}

.headerWrapContainer .hederBar .headerBarSearch .searchKey input::-webkit-input-placeholder,
.headerWrapContainer .hederBar .searchList .searchKey input::-webkit-input-placeholder {
	color: #ccc;
}

.headerWrapContainer .hederBar .headerBarSearch .searchKey input:-moz-placeholder,
.headerWrapContainer .hederBar .searchList .searchKey input:-moz-placeholder {
	color: #ccc;
}

.headerWrapContainer .hederBar .headerBarSearch .searchKey input::-moz-placeholder,
.headerWrapContainer .hederBar .searchList .searchKey input::-moz-placeholder {
	color: #ccc;
}

.headerWrapContainer .hederBar .headerBarSearch .searchKey input:-ms-input-placeholder,
.headerWrapContainer .hederBar .searchList .searchKey input:-ms-input-placeholder {
	color: #ccc;
}

.headerWrapContainer .hederBar .headerBarSearch .searchBtn,
.headerWrapContainer .hederBar .searchList .searchBtn {
	float: left;
	width: 100px;
	height: 42px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background-color: #ff552e;
}

.headerWrapContainer .hederBar .headerBarSearch .searchWords,
.headerWrapContainer .hederBar .searchList .searchWords {
	position: absolute;
	top: 40px;
	left: 0;
	width: 620px;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	overflow: hidden;
}

.headerWrapContainer .hederBar .headerBarSearch .searchWords .searchWordsLi,
.headerWrapContainer .hederBar .searchList .searchWords .searchWordsLi {
	float: left;
	margin-right: 10px;
}

.headerWrapContainer .hederBar .headerBarSearch .searchWords .searchWordsLi a,
.headerWrapContainer .hederBar .searchList .searchWords .searchWordsLi a {
	color: #aaa;
}

.headerWrapContainer .hederBar .headerBarSearch .searchWords .searchWordsLi a:hover,
.headerWrapContainer .hederBar .searchList .searchWords .searchWordsLi a:hover {
	color: #ff552e;
	text-decoration: underline;
}

.headerWrapContainer .hederBar .searchList {
	top: 52px;
	width: 519px;
	border: 1px solid #dddee1;
	z-index: 10;
}

.headerWrapContainer .hederBar .searchList li a {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 12px;
	line-height: 30px;
	overflow: hidden;
	font-size: 14px;
	background-color: #fff;
}

.headerWrapContainer .hederBar .searchList li a span {
	font-size: 12px;
	color: #bbbec4;
}

.headerWrapContainer .hederBar .headerBarPostMsg {
	position: absolute;
	top: 10px;
	right: 32px;
	display: block;
	width: 140px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background-color: #ff552e;
}

.headerWrapContainer .hederBar .headerBarDelInfo {
	position: absolute;
	top: 58px;
	right: 60px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	color: #aaa;
}

.headerWrapContainer .hederBar .headerBarDelInfo:hover {
	color: #ff552e;
	text-decoration: underline;
}

.headerWrapContainer .navBar {
	width: 1190px;
	height: 34px;
	line-height: 34px;
	margin-top: 5px;
	border-bottom: 2px solid #ff552e;
}

.headerWrapContainer .navBar .navBarLi {
	position: relative;
	float: left;
	margin: 0 10px;
}

.headerWrapContainer .navBar .navBarLi:first-child {
	margin: 0;
}

.headerWrapContainer .navBar .navBarLi:first-child .navBarLiText {
	color: #fff;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	padding: 0 36px;
	border-color: #ff552e;
	background-color: #ff552e;
}

.headerWrapContainer .navBar .navBarLi .navBarLiText {
	display: block;
	padding: 0 15px;
	color: #888;
	font-weight: 700;
}

.headerWrapContainer .navBar .navBarLi .navBarLiText:hover {
	color: #fff;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	background-color: #ff552e;
}

.headerWrapContainer .navBar .navBarLi .iconMobile {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 30px;
	height: 30px;
}

.headerWrapContainer .navBar .navBarLi .arrow {
	position: absolute;
	top: 14px;
	right: 5px;
	display: block;
	width: 10px;
	height: 6px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -74px -100px;
}

.headerWrapContainer .navBar .navBarLi .navBarLiTG img {
	margin-top: 7px;
}

.headerWrapContainer .navBar .navBarLi:hover .arrow {
	background: url("../img/sprite.png") no-repeat;
	background-position: -64px -100px;
}

.headerWrapContainer .navBar .navBarLi.hasChild {
	margin-left: 15px;
	margin-right: 0;
}

.headerWrapContainer .navBar .navBarLi.hasChild .navBarLiText {
	padding: 0 25px 0 20px;
	color: #ff552e;
}

.headerWrapContainer .navBar .navBarLi.hasChild .navBarLiText:hover {
	color: #ff552e;
	background-color: #fff;
}

.indexMainContainer {
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
}

.indexMainContainer .leftMain {
	float: left;
	width: 1190px;
	overflow: hidden;
}

.indexMainContainer .mainNavigate {
	width: 1190px;
	height: 122px;
	margin-bottom: 8px;
	background-color: #fff;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.indexMainContainer .mainNavigate .navigateItem {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-top: 16px;
	text-align: center;
}

.indexMainContainer .mainNavigate .navigateItem:not(:last-child) {
	border-right: 1px solid #f8f8f8;
}

.indexMainContainer .mainNavigate .navigateItem .topIcon {
	position: relative;
	display: block;
	width: 100%;
	height: 64px;
	font-size: 14px;
	color: #555;
}

.indexMainContainer .mainNavigate .navigateItem .topIcon:hover {
	color: #ff552e;
}

.indexMainContainer .mainNavigate .navigateItem .hot {
	position: absolute;
	top: -6px;
	right: 9px;
	display: block;
	width: 28px;
	height: 16px;
	line-height: 16px;
	color: #fff;
	font-size: 10px;
	background-color: #ff552e;
}

.indexMainContainer .mainNavigate .navigateItem .icon {
	position: relative;
	display: block;
	width: 42px;
	height: 42px;
	margin: 0 auto 8px;
}

.indexMainContainer .mainNavigate .navigateItem .icon.zpIcon {
	background: url("../img/sprite.png") no-repeat;
	background-position: -84px -0px;
}

.indexMainContainer .mainNavigate .navigateItem .icon.fcIcon {
	background: url("../img/sprite.png") no-repeat;
	background-position: -84px -42px;
}

.indexMainContainer .mainNavigate .navigateItem .icon.escIcon {
	background: url("../img/sprite.png") no-repeat;
	background-position: -0px -84px;
}

.indexMainContainer .mainNavigate .navigateItem .icon.esscIcon {
	background: url("../img/sprite.png") no-repeat;
	background-position: -0px -0px;
}

.indexMainContainer .mainNavigate .navigateItem .icon.cwIcon {
	background: url("../img/sprite.png") no-repeat;
	background-position: -42px -42px;
}

.indexMainContainer .mainNavigate .navigateItem .icon.bdswIcon {
	background: url("../img/sprite.png") no-repeat;
	background-position: -0px -42px;
}

.indexMainContainer .mainNavigate .navigateItem .icon.bdfwIcon {
	background: url("../img/sprite.png") no-repeat;
	background-position: -42px -0px;
}

.indexMainContainer .mainNavigate .navigateItem .bottomText {
	display: block;
	height: 28px;
	line-height: 38px;
	font-size: 12px;
	color: #eee;
}

.indexMainContainer .mainNavigate .navigateItem .bottomText a {
	color: #2d8cf0;
}

.indexMainContainer .mainNavigate .navigateItem .bottomText a:hover {
	color: #ff552e;
	text-decoration: underline;
}

.headerGuide {
	width: 100%;
	height: 80px;
	background-color: #ff552e;
}

.headerGuide .headerContainer {
	position: relative;
	width: 1036px;
	height: 80px;
	margin: 0 auto;
}

.headerGuide .headerContainer .headerLogo {
	float: left;
	display: block;
	width: 107px;
	height: 36px;
	margin-top: 20px;
}

.headerGuide .headerContainer .headerUl {
	float: left;
	height: 100%;
	margin-left: 59px;
	font-size: 16px;
	overflow: hidden;
}

.headerGuide .headerContainer .headerUl li {
	float: left;
	line-height: 43px;
	margin-top: 19px;
	margin-right: 12px;
}

.headerGuide .headerContainer .headerUl li > a {
	display: block;
	width: 85px;
	height: 40px;
	padding-left: 13px;
	color: #fff;
}

.headerGuide .headerContainer .headerUl li.selected {
	font-size: 18px;
	margin-right: 19px;
	font-weight: 700;
}

.headerGuide .headerContainer .headerSearch {
	position: absolute;
	top: 26px;
	left: 670px;
	width: 353px;
	height: 30px;
}

.headerGuide .headerContainer .headerSearch .headerSearchInput {
	float: left;
	overflow: hidden;
	font-size: 14px;
}

.headerGuide .headerContainer .headerSearch .headerSearchInput > input {
	float: left;
	width: 165px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	border: none;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.headerGuide .headerContainer .headerSearch .headerSearchInput > button {
	float: left;
	width: 50px;
	height: 30px;
	padding-left: 18px;
	color: #fff;
	background-color: #ff552e;
	border: 1px solid #fff;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	cursor: pointer;
}

.headerGuide .headerContainer .headerSearch .headerSearchInput .icon {
	display: block;
	width: 11px;
	height: 11px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -70px -106px;
}

.headerGuide .headerContainer .headerSearch .headerSearchBtn {
	float: right;
	width: 90px;
	height: 22px;
	padding: 3px 5px;
	border-radius: 2px;
	border: 1px solid #fff;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
}

.personContainer {
	position: relative;
	width: 1030px;
	margin: 0 auto;
}

.personContainer .leftMenu {
	width: 184px;
	min-height: 500px;
	padding-top: 8px;
	margin: 22px 0 0 -5px;
}

.personContainer .leftMenuContent {
	color: #595757;
	background: #fafafa;
	padding: 25px 0 50px;
}

.personContainer .leftMenuContent .leftMenuContentHeader {
	width: 110px;
	height: 33px;
	line-height: 33px;
	margin: 0 auto;
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: 700;
	border-bottom: 1px solid #dddee1;
}

.personContainer .leftMenuContentUl {
	margin-top: 4px;
}

.personContainer .leftMenuContentUl > li {
	line-height: 42px;
	padding-left: 44px;
	font-size: 16px;
	cursor: pointer;
}

.personContainer .leftMenuContentUl > li.liSelected {
	border-left: 3px solid #ff552e;
	padding-left: 41px;
}

.personContainer .rightMenu {
	width: 810px;
	margin-top: 32px;
}

.personContainer .changeData .changeDataTitle {
	height: 30px;
	border-bottom: 1px solid #dddee1;
}

.personContainer .changeData .changeDataTitle .changeDataTitleText {
	color: #666;
	font-size: 16px;
}

.personContainer .changeData .changeDataUl {
	margin-top: 22px;
	overflow: hidden;
}

.personContainer .changeData .changeDataUl .changeDataLi {
	display: block;
	width: 600px;
	height: 36px;
	line-height: 36px;
	margin-bottom: 13px;
	font-size: 14px;
}

.personContainer .changeData .changeDataUl .changeDataLi .changeLabel {
	float: left;
	width: 80px;
	height: 36px;
	color: #666;
	text-align: justify;
}

.personContainer .changeData .changeDataUl .changeDataLi .changeInput {
	width: 200px;
	height: 36px;
	padding: 0 14px;
	margin-right: 15px;
	line-height: 36px;
	background-color: #fff;
	border: 1px solid #dddee1;
}

.personContainer .changeData .changeDataUl .changeDataLi .changeInput:disabled {
	border: none;
}

.personContainer .changeData .changeDataUl .changeDataLi .changeBtn {
	color: #ff552e;
	cursor: pointer;
	background-color: #fff;
}

.personContainer .changeData .changeDataUl .changeDataLi .changeBtn .icon {
	float: left;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 2px 8px 0 0;
	background: url("../img/sprite.png") no-repeat;
	background-position: -64px -84px;
}

.listHeaderWrap,
.listMainWrap {
	width: 1190px;
	margin: 0 auto;
}

.listHeaderWrap {
	margin-top: 20px;
}

.listHeaderWrap .listHeaderContent {
	position: relative;
}

.listHeaderWrap .listHeaderContent .logo {
	float: left;
	width: 214px;
	height: 42px;
	margin-bottom: 6px;
	background: url("../img/logo4.png") no-repeat;
	background-size: cover;
	overflow: hidden;
	text-indent: -999em;
}

.listHeaderWrap .listHeaderContent .publishBtn {
	float: right;
	width: 100px;
	height: 46px;
	color: #ff552e;
	text-align: center;
	background-color: #ffefe7;
	line-height: 46px;
}

.listHeaderWrap .listHeaderContent .publishBtn:hover {
	background-color: #ffe9de;
}

.listHeaderWrap .listHeaderContent .searchBar {
	position: relative;
	float: right;
	width: 584px;
	height: 42px;
	margin-right: 100px;
	border: 2px solid #ff552e;
}

.listHeaderWrap .listHeaderContent .searchBar .icon {
	display: block;
	position: absolute;
	top: 13px;
	left: 10px;
	width: 14px;
	height: 15px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -112px -84px;
}

.listHeaderWrap .listHeaderContent .searchBar .searchInput {
	float: left;
	width: 470px;
	height: 24px;
	line-height: 24px;
	padding: 9px 0 9px 30px;
	font-size: 16px;
	color: #555;
}

.listHeaderWrap .listHeaderContent .searchBar .searchInput::-webkit-input-placeholder {
	color: #ccc;
}

.listHeaderWrap .listHeaderContent .searchBar .searchInput:-moz-placeholder {
	color: #ccc;
}

.listHeaderWrap .listHeaderContent .searchBar .searchInput::-moz-placeholder {
	color: #ccc;
}

.listHeaderWrap .listHeaderContent .searchBar .searchInput:-ms-input-placeholder {
	color: #ccc;
}

.listHeaderWrap .listHeaderContent .searchBar .searchBtn {
	float: right;
	width: 80px;
	height: 42px;
	text-align: center;
	color: #fff;
	line-height: 42px;
	background-color: #ff552e;
	cursor: pointer;
}

.listHeaderWrap .listHeaderContent .searchList {
	position: absolute;
	top: 46px;
	right: 282px;
	width: 504px;
	height: auto;
	border: 1px solid #dddee1;
	z-index: 10;
}

.listHeaderWrap .listHeaderContent .searchList li a {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 12px;
	line-height: 30px;
	overflow: hidden;
	font-size: 14px;
	background-color: #fff;
}

.listHeaderWrap .listHeaderContent .searchList li a span {
	font-size: 12px;
	color: #bbbec4;
}

.listHeaderWrap.fixedHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #ff552e;
	margin-top: 0;
	z-index: 10;
}

.listHeaderWrap.fixedHeader .listHeaderContent {
	width: 1190px;
	margin: 0 auto;
	font-size: 14px;
}

.listHeaderWrap.fixedHeader .listHeaderContent .logo {
	width: 137px;
	height: 27px;
	margin: 9px 0 6px;
	background: url("../img/logo5.png") no-repeat;
}

.listHeaderWrap.fixedHeader .listHeaderContent .publishBtn {
	width: 140px;
	height: 32px;
	line-height: 32px;
	background-color: #fff;
	color: #ff552e;
	margin-top: 9px;
}

.listHeaderWrap.fixedHeader .listHeaderContent .searchBar {
	width: 618px;
	height: 32px;
	margin-top: 9px;
	background-color: #fff;
	border: none;
}

.listHeaderWrap.fixedHeader .listHeaderContent .searchBar .icon {
	top: 8px;
}

.listHeaderWrap.fixedHeader .listHeaderContent .searchBar .searchInput {
	height: 18px;
	padding: 7px 0 7px 30px;
	font-size: 12px;
	line-height: 18px;
}

.listHeaderWrap.fixedHeader .listHeaderContent .searchBar .searchBtn {
	top: 1px;
	right: 1px;
	width: 100px;
	height: 32px;
	border: 1px solid #fff;
	line-height: 32px;
}

.listHeaderWrap.fixedHeader .listHeaderContent .searchList {
	top: 42px;
	right: 339px;
	width: 517px;
}

.listMainWrap .breadcrumb {
	width: 100%;
	line-height: 42px;
	font-size: 12px;
}

.listMainWrap .breadcrumb > li {
	display: inline-block;
}

.listMainWrap .breadcrumb > li a {
	color: #888;
}

.listMainWrap .breadcrumb > li a:hover {
	color: #ff552e;
}

.listMainWrap .breadcrumb li + li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

.listMainWrap .houseNavTab {
	overflow: hidden;
	margin-bottom: 17px;
}

.listMainWrap .houseNavTab li {
	float: left;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	margin-right: 40px;
}

.listMainWrap .houseNavTab li.selected a {
	color: #ff552e;
}

.listMainWrap .houseNavTab li a {
	color: #333;
}

.listMainWrap .houseNavTab li a:hover {
	color: #ff552e;
}

.listMainWrap .filterWrap {
	position: relative;
	margin-bottom: 20px;
}

.listMainWrap .filterWrap .filterItem {
	margin-top: 12px;
	line-height: 18px;
	font-size: 12px;
}

.listMainWrap .filterWrap .filterItem > dt {
	float: left;
	width: 36px;
	height: 18px;
	line-height: 18px;
	color: #888;
	margin-right: 12px;
}

.listMainWrap .filterWrap .filterItem > dd a {
	color: #333;
	margin-right: 17px;
}

.listMainWrap .filterWrap .filterItem > dd a:hover {
	color: #ff552e;
}

.listMainWrap .filterWrap .filterItem > dd a.selected {
	color: #ff552e;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst {
	padding: 16px 23px 14px 23px;
	background: #fafafa;
	margin-top: 0;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterSelect {
	overflow: hidden;
	margin-bottom: 12px;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterSelect > li {
	float: left;
	font-size: 12px;
	line-height: 18px;
	margin-right: 37px;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterSelect > li a {
	position: relative;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterSelect > li a::after {
	content: "";
	position: absolute;
	top: 6px;
	right: -16px;
	display: block;
	width: 10px;
	height: 6px;
	background: url("../img/sprite.png") no-repeat;
	background-position: -84px -100px;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterSelect > li a.on {
	color: #ff552e;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterSelect > li a.on::after {
	background: url("../img/sprite.png") no-repeat;
	background-position: -94px -100px;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterAreaFirst a {
	color: #333;
	font-size: 12px;
	margin-right: 17px;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterAreaFirst a.on,
.listMainWrap .filterWrap .filterItem.filterItemFirst .filterAreaFirst a:hover {
	color: #ff552e;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterAreaSecond {
	line-height: 26px;
	margin-top: 10px;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterAreaSecond a {
	color: #333;
	font-size: 12px;
	margin-right: 17px;
}

.listMainWrap .filterWrap .filterItem.filterItemFirst .filterAreaSecond a.on,
.listMainWrap .filterWrap .filterItem.filterItemFirst .filterAreaSecond a:hover {
	color: #ff552e;
}

.listMainWrap .contentNavTab {
	position: relative;
	height: 40px;
	border-bottom: 2px solid #ff552e;
}

.listMainWrap .contentNavTab > a {
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 25px;
	color: #333;
}

.listMainWrap .contentNavTab > a:hover:not(.selected) {
	background-color: #ffeeeb;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.listMainWrap .contentNavTab > a:first-child {
	color: #fff;
	background-color: #ff552e;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.listMainWrap .contentWrap {
	overflow: hidden;
}

.listMainWrap .contentWrap .checkList {
	color: #555;
	padding: 18px 0 20px;
	border-bottom: 1px solid #f3f3f3;
	font-size: 12px;
}

.listMainWrap .contentWrap .checkList .checkboxItem {
	position: relative;
	float: left;
	padding-left: 25px;
	margin-right: 20px;
}

.listMainWrap .contentWrap .checkList .checkboxItem::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border: 1px solid #dedede;
	background: #fff;
}

.listMainWrap .contentWrap .checkList .checkboxItem.selected::before {
	background: url("../img/sprite.png") no-repeat;
	background-position: -56px -106px;
}

.listMainWrap .contentWrap .checkList .checkListSortWrap {
	position: relative;
	float: right;
	line-height: 14px;
}

.listMainWrap .contentWrap .checkList .checkListSortWrap .sortItem {
	position: relative;
	float: left;
	padding: 0 18px;
	color: #555;
}

.listMainWrap .contentWrap .checkList .checkListSortWrap .sortItem:not(.sortByGeneral)::before {
	content: "";
	position: absolute;
	top: 2px;
	right: 5px;
	display: block;
	width: 6px;
	height: 10px;
}

.listMainWrap .contentWrap .checkList .checkListSortWrap .sortItem.up::before {
	background: url("../img/sprite.png") no-repeat;
	background-position: -81px -106px;
}

.listMainWrap .contentWrap .checkList .checkListSortWrap .sortItem.down::before {
	background: url("../img/sprite.png") no-repeat;
	background-position: -87px -106px;
}

.listMainWrap .contentWrap .checkList .checkListSortWrap .sortItem.on,
.listMainWrap .contentWrap .checkList .checkListSortWrap .sortItem:hover {
	color: #ff552e;
}

.listMainWrap .contentWrap .houseListUl {
	overflow: hidden;
}

.listMainWrap .contentWrap .houseListUl > li {
	position: relative;
	padding: 30px 0;
	border-bottom: 1px solid #f3f3f3;
	overflow: hidden;
	font-size: 12px;
}

.listMainWrap .contentWrap .houseListUl > li:hover {
	background-color: #f9f9f9;
}

.listMainWrap .contentWrap .houseListUl > li:hover .listInfo .title a {
	color: #ff552e;
}

.listMainWrap .contentWrap .houseListUl > li .pic {
	float: left;
	position: relative;
	width: 147px;
	height: 110px;
}

.listMainWrap .contentWrap .houseListUl > li .pic img {
	display: block;
	width: 147px;
	height: 110px;
}

.listMainWrap .contentWrap .houseListUl > li .pic .picNum {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	padding: 4px 8px;
	line-height: 12px;
	background-color: rgba(0, 0, 0, 0.5);
}

.listMainWrap .contentWrap .houseListUl > li .listInfo {
	float: left;
	width: 662px;
	margin-left: 20px;
	color: #777;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .title {
	margin-bottom: 15px;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .title a {
	color: #333;
	font-size: 20px;
	vertical-align: middle;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .title a:hover {
	color: #ff552e;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .icon {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 3px;
	color: #fff;
	margin-right: 5px;
	font-weight: 400;
	font-style: normal;
	vertical-align: middle;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .icon.jinxuan {
	background-color: #19be6b;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .icon.mainfei {
	background-color: #2d8cf0;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .icon.anxuan {
	color: #54e99e;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	line-height: 16px;
	border: 1px solid #54e99e;
	font-weight: 700;
	letter-spacing: 1px;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .baseInfo,
.listMainWrap .contentWrap .houseListUl > li .listInfo .locationInfo,
.listMainWrap .contentWrap .houseListUl > li .listInfo .ownerInfo {
	margin-bottom: 13px;
	line-height: 14px;
}

.listMainWrap .contentWrap .houseListUl > li .listInfo .baseInfo span,
.listMainWrap .contentWrap .houseListUl > li .listInfo .locationInfo span,
.listMainWrap .contentWrap .houseListUl > li .listInfo .ownerInfo span {
	margin-right: 14px;
}

.listMainWrap .contentWrap .houseListUl > li .price {
	position: absolute;
	right: 100px;
	margin-top: 30px;
}

.listMainWrap .contentWrap .houseListUl > li .price b {
	font-size: 30px;
	margin-right: 6px;
}

.listMainWrap .contentWrap .houseListUl > li .price .sum {
	color: #ff552e;
	margin-bottom: 8px;
}

.listMainWrap .contentWrap .houseListUl > li .price .unit {
	text-align: right;
}

.listMainWrap .contentWrap .houseListUl > li .time {
	position: absolute;
	top: 30px;
	right: 20px;
	color: #ccc;
}

.listMainWrap .contentWrap .pagination {
	padding: 30px 0;
	text-align: center;
	font-size: 14px;
}

.listMainWrap .contentWrap .pagination > a {
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #dddee1;
	cursor: pointer;
	margin-right: -1px;
	background-color: #fff;
}

.listMainWrap .contentWrap .pagination > a.pre,
.listMainWrap .contentWrap .pagination > a.next {
	width: 70px;
	margin: 0 4px;
}

.listMainWrap .contentWrap .pagination > a.active {
	background-color: #555;
	color: #fff;
}

.listMainWrap .contentWrap .pagination > a.disabled {
	border-color: #fff;
	cursor: inherit;
}