extends ./layout/layout2

block content
	.indexHeaderWrap
		.headerWrapContainer
			.hederBar
				a.headerBarLogo(href="javascript:void(0);")
					img
				a.headerBarBanner
					img
				.headerBarSearch
					.searchKey
						input(type="text", placeholder="招聘季月薪10000+")
					.searchBtn
						button(type="button") 搜索
					ul.searchWords
						li.searchWordsLi
							a(href="javascript:void(0);") 东莞
						li.searchWordsLi
							a(href="javascript:void(0);") 东莞
						li.searchWordsLi
							a(href="javascript:void(0);") 东莞
						li.searchWordsLi
							a(href="javascript:void(0);") 东莞
				a.headerBarPostMsg(href="javascript:void(0);") 免费发布信息
				a.headerBarDelInfo(href="javascript:void(0);") 修改/删除信息
			ul.navBar
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 首页
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 58APP
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 商家APP
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 58公众号
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 小程序
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 金融
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 安居客
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 中华英才
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 58车
				li.navBarLi
					a.navBarLiText(href="javascript:void(0)") 58同镇
	//- .indexArticle
	.indexMainWrap
		.leftMain
			ul.mainNavigate
				li.navigateItem.fcNav
					a.topIco(href="javascript:void(0);")
						i
						| 房产
					.bottomIcon
						a(href="javascript:void(0);") 租房
						span &nbsp;/&nbsp;
						a(href="javascript:void(0);") 二手房
				li.navigateItem.bdfwNav
					a.topIcon(href="javascript:void(0);")
						i
						| 本地服务
					.bottomIcon
						a(href="javascript:void(0);") 搬家
						span &nbsp;/&nbsp;
						a(href="javascript:void(0);") 教育
						span &nbsp;/&nbsp;
						a(href="javascript:void(0);") 车服务
		//- .rightMain