extends ./layout/layout1

block head
	link(rel="stylesheet", href="./static/css/index.css")
		
block content
	.listPage#listPage
		topbar
		.listHeaderWrap
			.listHeaderContent.clearfix
				a.logo(href="javascript:void(0);") 58同城·房产
				a.publishBtn(href="javascript:void(0);") 免费发布
				.searchBar.clearfix
					i.icon
					input.searchInput(type="text", placeholder="请输入房源相关信息", v-model.lazy="searchword", @input="inputSearch")
					button.searchBtn(type="button", @click="onSearch") 搜房源
				ul.searchList(v-show="showSearch && searchList.length > 0")
					li(v-for="(item, index) in searchList")
						a(href="javascript:void(0);", @click="goToList(item)")
							p.fl {{item.k}}
							span.fr 约{{item.n}}条
		.listMainWrap
			ul.breadcrumb
				li
					a(href="javascript:void(0);") 深圳58同城
				li
					a(href="javascript:void(0);") 深圳房产信息
				li
					a(href="javascript:void(0);") 深圳二手房
			ul.houseNavTab
				li.selected
					a(href="javascript:void(0);") 二手房
				li
					a(href="javascript:void(0);") 小区
				li
					a(href="javascript:void(0);") 地图找房
				li
					a(href="javascript:void(0);") 新房
				li
					a(href="javascript:void(0);") 求购
			.filterWrap
				dl.filterItem.filterItemFirst
					dd
						ul.filterSelect
							li.filterSelectLi
								a(href="javascript:void(0)", :class="nowFilterArea === 'location' ? 'on' : ''", @click="filterArea('location')") 区域
							li.filterSelectLi
								a(href="javascript:void(0)", :class="nowFilterArea === 'metro' ? 'on' : ''", @click="filterArea('metro')") 地铁
						.filterAreaFirst
							a(href="javascript:void(0);" v-for="(item, index) in filterAreaFirst", :class="item.selected ? 'on' : ''", @click="selectFirst(index)")
								| {{item.name}}
						.filterAreaSecond
							a(href="javascript:void(0);" v-for="(item, index) in filterAreaSecond", :class="item.selected ? 'on' : ''", @click="selectSecond(index)")
								| {{item.name}}
				dl.filterItem
					dt 总价：
					dd.Price
						a(href="javascript:void(0)", v-for="(item, index) in sumPrice", :class="{'selected': item.selected}", @click="selectEvent($event, index)") {{item.name}}
				dl.filterItem
					dt 面积：
					dd.Acreage
						a(href="javascript:void(0)", v-for="(item, index) in sumAcreage", :class="{'selected': item.selected}", @click="selectEvent($event, index)") {{item.name}}
				dl.filterItem
					dt 室厅：
					dd.Room
						a(href="javascript:void(0)", v-for="(item, index) in sumRoom", :class="{'selected': item.selected}", @click="selectEvent($event, index)") {{item.name}}
				
			.contentNavTab
				a.selected(href="javascript:void(0)") 广州二手房出售
				a(href="javascript:void(0)") 免税房源
				a(href="javascript:void(0)") 个人房源
				a(href="javascript:void(0)") 安选房源
				a(href="javascript:void(0)") 视频看房
				a(href="javascript:void(0)") 商铺出售
				a(href="javascript:void(0)") 写字楼出售
			.contentWrap
				.checkList
					//- a.checkboxItem.selected(href="javascript:void(0);") 满五唯一
					//- a.checkboxItem(href="javascript:void(0);") 南北通透
					//- a.checkboxItem(href="javascript:void(0);") 随时看房
					.checkListSortWrap
						a.sortItem.sortByGeneral(href="javascript:void(0);", data-type="0", :class="{'on': checkListType === 0}", @click="onOrderBy($event)")
							| 默认排序
						// 总价从低到高
						a.sortItem.sortByTotal(href="javascript:void(0);", data-type="1", :class="{'hidden': checkListType === 1, 'on down': checkListType === 2}", @click="onOrderBy($event)")
							| 总价
						// 总价从高到低
						a.sortItem.sortByTotal(href="javascript:void(0);", data-type="2", :class="{'on up': checkListType === 1}", v-show="checkListType === 1", @click="onOrderBy($event)")
							| 总价
						// 单价从低到高
						a.sortItem.sortByUnit(href="javascript:void(0);", data-type="3", :class="{'hidden': checkListType === 3, 'on down': checkListType === 4}", @click="onOrderBy($event)")
							| 单价
						// 单价从高到低
						a.sortItem.sortByUnit(href="javascript:void(0);", data-type="4", :class="{'on up': checkListType === 3}", v-show="checkListType === 3", @click="onOrderBy($event)")
							| 单价
						// 面积从小到大
						a.sortItem.sortByArea(href="javascript:void(0);", data-type="5", :class="{'hidden': checkListType === 5, 'on down': checkListType === 6}", @click="onOrderBy($event)")
							| 面积
						// 面积从大到小
						a.sortItem.sortByArea(href="javascript:void(0);", data-type="6", :class="{'on up': checkListType === 5}", v-show="checkListType === 5", @click="onOrderBy($event)")
							| 面积
					.clearfix
				ul.houseListUl
					li.houseListLi(v-for="(item, index) in houseList")
						.pic
							a(href="javascript:void(0);")
								img(:src="item.picUrl")
							span.picNum 7图
						.listInfo
							h3.title
								a(href="javascript:void(0);") {{item.title}}
								span.icon-container
									i.icon.jinxuan(title="精选房源") 精
									//- i.icon.mainfei(title="免税房源") 免
									//- i.icon.anxuan(title="安选房源") 安选房源
									//- i.icon.zhiding(title="置顶房源") 顶
							p.baseInfo
								span {{item.huxing}}
								span {{item.area}}㎡
								span {{item.toward}}
								span {{item.floorMH}}层(共{{item.zongLouCeng}}层)
							p.locationInfo
								span {{item.xiaoquName}} - {{item.cityname}} - {{item.areaName}}
							p.ownerInfo
								span 光宏地产 - {{item.userName}}
						.price
							p.sum
								b {{item.price}}
								| 万
							p.unit {{item.danjia}}元/㎡
						.time 今天
				.pagination
					a.pre(href="javascript:void(0);") 上一页
					a.paginationItem.active(href="javascript:void(0);") 1
					a.paginationItem(href="javascript:void(0);") 2
					a.paginationItem(href="javascript:void(0);") 3
					a.paginationItem.disabled() ...
					a.paginationItem(href="javascript:void(0);") 10
					a.next(href="javascript:void(0);") 上一页