extends ./layout/layout1

block head
	link(rel="stylesheet", href="./static/css/index.css")

block content
	.signPage#loginPage(v-cloak)
		img.imgBg(src="./static/img/bg1.png")
		.signTopBar
			.backToIndex
				a(href="./index.html") 返回首页
			.goReg
				| 没有账户？
				a(href="./register.html") 去注册
		.signWrap
			.signLogo
				a.logoHref(href="javascript:void(0);")
			.signBox
				ul.signUl
					// 手机号/账户名/邮箱
					li(:class="['signLi', {'signLiFocus': inputFocus.nameInput}]")
						input.signInput.username(type="text", placeholder="手机号/账户名/邮箱", v-model="form.username", @blur="validateInput($event)", @focus="inputFocus.nameInput = true")
					li.signTip(v-show="showTip.showNameTip")
						span.signTipText {{validateText.nameTipText}}

					// 密码
					li(:class="['signLi', {'signLiFocus': inputFocus.pwdInput}]")
						input.signInput.password(type="password", placeholder="密码", v-model="form.password", @blur="validateInput($event)", @focus="inputFocus.pwdInput = true")
					li.signTip(v-show="showTip.showPwdTip")
						span.signTipText {{validateText.pwdTipText}}

					// 自动登录
					li.signLi.signAutoLoginLi
						input.signChecbox(type="checkbox", id="autoLogin")
						label.signLable(for="autoLogin") 下载自动登录 
						//- a.signForget(href="javascript:void(0);") 忘记密码
					// 登录按钮
					li.signLi.signLoginButtonLi
						.signButtonBox
							button.signButton(type="button", @click="login") 登录